


.bg {
    background-color: rgb(83, 83, 248);
    display: grid;
    grid-template-columns: 1fr 940px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10%;
}

.card {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    width: 940px;
    height: 470px;
}

.pic img {
    justify-content: left;
    width: 400px;
    height: 470px;
    grid-row: 1/3;
}

.info {
    justify-content: left;
    padding: 46px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 0px;
    grid-column: 2/3;
    grid-row: 1/2;
}
.info h2 {
    border-bottom: 1px solid black;
    padding: 0px;
}
.info h4 {
    margin-top: -15px;

}
.card .img1 .img2 {
    grid-row: 2/3;
}
.card .img1 img {
    width: 120px;
    grid-column: 2/3;
}
.card .img2 img {
    width: 50px;
    grid-column: 3/4;
}
